.pageTitle {
  background-color: #fafafa;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
  color: #979ea9;
  border-bottom: 1px solid #eee;
  margin-top: 0;
}
.videoTitle {
  font-weight: 200;
}
